<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Notes App</title>

    <!-- Bootstrap Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />

    <!-- Font of the Website -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet" />

    <!-- Style of Page-1 -->
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>

<body>

    <h2>Edit Note : </h2>
    <div class="search-field edit-search-field">
        <form action="/search" method="POST">
            <input required type="text" name="searched" placeholder="Search any user">
            <button class="index-btn" type="submit">Search</button>
        </form>

        <div class="welcome edit-logout">
            <a class="index-btn logout " href="/logout" role="button">Logout</a>
        </div>

        <h3 class="edit-page-heading"> Your Current Note : </h3>
        <section id="your-note">

            <% Notes.forEach(function(note){ %>
                <div class="notes-container">
                    <h5>
                        <%= note.title %>
                    </h5>
                    <p>
                        <%= note.content %>
                    </p>
                </div>

                <form action="/edit/<%= note._id %>" method="POST">

                    <label class="input-item" for="note-title">Note Title : </label>
                    <input required class="input-item" type="text" name="title" id="note-title"
                        placeholder="Title here...">
                    <label class="input-item" for="note-content">Note Content : </label>
                    <textarea class="input-item" name="content" id="note-content" cols="30" rows="5"
                        placeholder="Content here..."></textarea>
                    <button id="post-notes-btn" type="submit" class="index-btn">Save Note</button>

                </form>
                <% }); %>
        </section>

        <a class="back-home" href="/home">Back to home</a>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="Javascript/index.js"></script>
</body>

</html>